<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{common-head :: headerFragment}"></div>
<div th:insert="~{common-head :: bodyFragment (${name})}"></div>

<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <article>
        <input type="hidden" id="article-id" th:value="${article.id}">
        <header class="mb-4">
          <h1 class="fw-bolder mb-2" th:text="${article.title}" style="overflow: auto"></h1>
          <div class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(article.updatedAt,
'yyyy-MM-dd HH:mm')} By ${article.author}|"></div>
        </header>
        <section class="mb-5">
          <p class="fs-5 mb-4" th:text="${article.content}"></p>
        </section>
        <section>
          <label th:text="|#{originalFileName}: |"></label>
          <a th:if="${article.originalFileName}" th:href="|/attach/${article.id}|"
                   th:text="${article.getOriginalFileName()}" /><br/>
        </section>
        <a th:if="${name == article.author}" th:href="@{/new-article(id=${article.id})}"
           class="btn btn-primary btn-sm" th:text="#{update}">수정</a>

        <button class="btn btn-primary btn-sm"
                th:if="${name == article.author}"
                onclick="location.href='articleList.html'"
                th:onclick="|location.href='@{/delete-article(id=${article.id})}'|"
                type="button" th:text="#{delete}">삭제</button>

      </article>
    </div>
  </div>
  <hr>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <form th:action="@{/articles/new-comment}" method="POST">
        <div class="mb-3">
          <input type="hidden" name="articleId" th:value="${article.id}">
          <label>댓글:</label>
          <input type="textarea" class="form-control" name="comment">
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{register}">등록</button>
      </form>
    </div>
  </div>
  <hr>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div th:each="comments:${comments}">
        <form th:action="@{/articles/delete-comment}" method="POST">
          <p class="text-muted fst-italic mb-1" th:text="${comments.nickname}"></p>
          <button th:if="${name == comments.nickname}" type="submit" class="btn btn-danger" style="float:right"
                  th:text="#{delete}">삭제</button>
          <p class="fs-5 mb-1" th:text="${comments.comment}" style="overflow: auto"></p>
          <input type="hidden" name="id" th:value="${comments.id}">
        </form>
        <hr>
      </div>
    </div>
  </div>

  <!--paging 부분-->
  <div th:if="${!comments.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" th:if="${nowPage != 1}" th:href="|/articles/${article.id}?page=1|"
           th:text="#{firstpage}">처음</a>
      </li>

      <li class="page-item" th:if="${nowPage != 1}">
        <a class="page-link" th:href="|/articles/${article.id}?page=${nowPage-1}|" th:text="#{prepage}">이전</a>
      </li>

      <li class="page-item" th:each="page: ${#numbers.sequence(firstPage,lastPage)}">
        <a class="page-link" th:if="${page != nowPage}" th:href="|/articles/${article.id}?page=${page}|" th:text ="${page}"></a>
        <span class="page-link" th:if="${page==nowPage}" th:text ="${page}" style="color:black"></span>
      </li>

      <li class="page-item" th:if="${nowPage != lastPage}">
        <a class="page-link" th:href="|/articles/${article.id}?page=${nowPage+1}|"
           th:text="#{nextpage}">다음</a>
      </li>

      <li class="page-item">
        <a class="page-link" th:if="${nowPage != lastPage}" th:text="#{lastpage}"
           th:href="|/articles/${article.id}?page=${totalPage}|">마지막</a>
      </li>
    </ul>
  </div>
</div>

</body>

<div th:insert="~{common-footer :: footerFragment}"></div>
</html>