<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{/common-head :: headerFragment}"></div>
<div th:insert="~{/common-head :: bodyFragment (${name})}"></div>

<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">

      <form th:action="@{/new-article}" method="post" th:object="${article}" enctype="multipart/form-data">
        <input type="hidden" id="id" th:field="*{id}">
        <div>
          <label th:text="#{title}">제목: </label>
          <input type="text" th:field="*{title}" class="form-control">
        </div>
        <br>
        <div>
        <label th:text="#{content}">내용: </label>
          <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <div th:if="${article.existFileName} == null">
          <label th:text="#{originalFileName}">첨부파일: </label>
          <input type="file" class="form-control" th:field="*{originalFileName}">
        </div>
        <div th:if="${article.existFileName}">
          <label th:text="#{originalFileName}">첨부파일: </label>
          <a th:if="${article.existFileName}" th:href="|/attach/${article.id}|"
             th:text="${article.getExistFileName()}" />
          <a th:text="#{delete}" class="btn btn-danger btn-sm" th:href="|/deleteAttach/${article.id}|"></a>
        </div>
        <br>
        <div>
          <button th:if="${article.id} != null" type="submit" class="btn btn-primary btn-sm" th:text="#{update}">수정</button>
          <button th:if="${article.id} == null" type="submit" class="btn btn-primary btn-sm" th:text="#{register}">등록</button>
        </div>
      </form>





<!--      <article>
        <input type="hidden" id="article-id" th:value="${article.id}">

        <header class="mb-4">
          <input type="text" class="form-control" placeholder="제목" id="title" th:value="${article.title}">
        </header>
        <section class="mb-5">
          <textarea class="form-control h-25" rows="10" placeholder="내용" id="content" th:text="${article.content}"></textarea>
        </section>
        <button th:if="${article.id} != null" type="button" id="modify-btn" class="btn btn-primary btn-sm">수정</button>
        <button th:if="${article.id} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록</button>
      </article>-->
    </div>
  </div>
</div>

</body>

<div th:insert="~{/common-footer :: footerFragment}"></div>
</html>